body{
    background-color: rgb(255, 207, 192);
    text-align: center;
     font-weight: 500;
     
     
    ;
}
.home{
    text-align: center; 
 
  ;
}  
/*  
.container{
    width:80vw;
} */
.image1{
    height:600px;
    width:auto;
    display: flex;
    margin:10px;
    justify-content:center;
   
}
.container{
    display: flex;
    direction: ltr;
    justify-content: center;
   
}